
ul {
    list-style: none;
}
a {
    color: #333333;
    text-decoration: none;
}
.top_nav {
    
}
.top_nav > .wrapper::after {
    display: block;
    clear: both;
}
.top_nav .logo {
    line-height: 60px;
    float:left;
    font-size: 30px;
    color: black;
    margin-left: 250px;
    cursor: pointer;
}
.top_nav .logo:hover {
    color: red;
}
.top_nav .nav {
    float: left;
    margin-left: 120px;

}
.top_nav .nav> li {
    float: left;
    width: 100px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
}
.top_nav .nav> li:hover {
    color: red;
}
